.App {
  margin: 60px;
  border-radius: 3px;
  opacity: 0.9;
  background-image: linear-gradient(to top, #accbee 0%, #c7daf3 100%);
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

body {
  background-image: linear-gradient(to right, #767e84 0%, #596164 100%);
}
.title-search {
  color: #567495;
  padding-left: 49px;
  padding-top: 40px;
  letter-spacing: 1px;
  font-size: 40px;
  text-shadow: #accbee 1px 2px 0.5px;
  text-align: center;
}
