:root {
  --text-color: #567495;
}
li {
  list-style-type: none;
}
.temperature {
  font-size: 75px;
  color: var(--text-color);
  padding: 20px;
}
.celsius,
.fahrenheit {
  font-size: 25px;
}
a {
  text-decoration: none;
}
form {
  padding-top: 30px;
  margin-left: 50px;
}
form input::placeholder {
  color: whitesmoke;
  opacity: 0.3;
}
form input,
button {
  font-size: 25px;
  background-color: var(--text-color);
  color: whitesmoke;
  border: none;
}
.city {
  color: var(--text-color);
  text-transform: uppercase;
  padding-bottom: 50px;
  text-shadow: #accbee 2px 2px 0.5px;
  text-align: center;
}

.date {
  color: var(--text-color);
  font-size: 30px;
  padding-left: 50px;
  letter-spacing: 1px;
}
ul.child {
  display: inline-block;
}
.description,
.wind,
.humidity {
  color: var(--text-color);
  font-size: 30px;
  padding: 11px;
}
.description {
  text-transform: uppercase;
}
.dailyforecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 70px;
  color: var(--text-color);
  text-transform: uppercase;
}
.forecast-temperatures {
  display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  justify-items: start;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dailyindex {
  background-image: linear-gradient(to top, #accbee 0%, #c7daf3 100%);
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  margin-right: 30px;
}
.forecast-temperature-min {
  margin-left: 5px;
}
.forecast-days {
  text-align: center;
}
