li {
  list-style-type: none;
}
.temperature {
  font-size: 75px;
  color: whitesmoke;
}
.celsius,
.fahrenheit {
  font-size: 30px;
}
a {
  text-decoration: none;
}
form {
  margin-left: 50px;
  padding-top: 30px;
}
form input,
button {
  font-size: 20px;
}
.city {
  color: whitesmoke;
  text-transform: uppercase;
  margin-left: 100px;
  width: 120px;
  padding-bottom: 100px;
}
.date {
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
}
ul.child {
  display: inline-block;
}
.description,
.wind,
.humidity {
  color: whitesmoke;
  font-size: 30px;
  padding: 11px;
}
.description {
  text-transform: uppercase;
}
.dailyforecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 100px;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 200px;
  color: whitesmoke;
  text-transform: uppercase;
}
.forecast-temperatures {
  display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 100px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}
